.login-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 80px;
  align-items: center;
}

.login-logo {
  width: 300px;
  margin-bottom: 20px;
}

.login-form {
  width: 400px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  padding: 30px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 6px 15px -7px #000000;
  box-sizing: border-box;
}

.login-err {
  color: red;
  text-align: center;
}
