.menu {
  margin-top: 20px;
  a {
    text-decoration: none;
  }
}

.menu-item {
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 40px;
  color: #626262;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  &:hover {
    background: #f7b32a17;
  }

  &_logo {
    margin-right: 20px;
  }
  &.active {
    background: #f7b32a;
    color: black;
  }
}
